---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div
  class={`w-full px-4 md:px-6 md:mx-auto xl:p-0 lg:max-w-[calc(1440px)] ${className}`}
>
  <slot />
</div>
