---
import Logo from "@public/Logo.astro";
import Layout from "@layout/main.astro";
import BasicContainer from "@components/Containers/BasicContainer.astro";
import Search from "@public/Search.astro";
import Compass from "@public/icons/CompassIcon.astro";
import Message from "@components/Message.astro";
import UserIcon from "@public/icons/UserIcon.astro";
import Book from "@public/icons/Book.astro";
import Typewriter from "@public/icons/Typewriter.astro";
import Pencil from "@public/icons/Pencil.astro";
import View from "@public/icons/View.astro";
import Check from "@public/icons/check.astro";
import Tool from "@public/icons/Tool.astro";
import BookOpen from "@public/icons/BookOpen.astro";
import HCFooter from "@components/footers/HCFooter.astro";
import Button from "@components/Button.astro";
---

<style>
  nav {
  }
</style>

<Layout title="Help Center">
  <header class="h-[87px] bg-black">
    <BasicContainer
      className="h-full text-white flex items-center justify-between"
    >
      <div class="h-full flex items-center space-x-4">
        <a class="w-[161px] h-[25px] flex items-center" href="/">
          <Logo />
        </a>
        <div class="text-xs font-light hidden md:block">Help Center</div>
      </div>

      <nav
        id="nav"
        class="absolute z-20 h-full w-2/3 md:w-2/5 bg-white p-8 top-0 -left-full transition-all duration-300 flex flex-col gap-3 lg:static lg:flex-row lg:items-center lg:p-0 lg:w-auto lg:bg-black"
      >
        <a
          class="text-sm font-normal text-gray-700 tracking-wider lg:text-white lg:text-[14px] lg:font-light"
          href="/">Back to medium-clone</a
        >
        <!-- bg-black border text-black lg:border-gray-200 lg:text-gray-200 -->
        <div
          class="text-black bg-transparent mt-4 lg:mt-0 lg:px-4 lg:py-2 lg:border lg:border-white flex items-center lg:rounded-full"
        >
          <a
            class="text-sm font-normal tracking-wide text-gray-700 lg:text-white lg:text-[14px] lg:font-light"
            target="_blank"
            href="https://help.medium.com/hc/en-us/requests/new"
          >
            Submit a request
          </a>
        </div>
      </nav>

      <button id="trigger-nav" class="appearance-none lg:hidden">
        <div class="mb-[6px] w-7 h-[2px] bg-white"></div>
        <div class="mb-[6px] w-7 h-[2px] bg-white"></div>
        <div class="mb-[6px] w-7 h-[2px] bg-white"></div>
      </button>
    </BasicContainer>
  </header>

  <div
    id="fondo"
    class="-z-10 absolute top-0 left-0 w-full h-full bg-none opacity-40 transition-all duration-200"
  >
  </div>

  <main>
    <div class="h-[50svh] bg-blue-200 px-4 py-8 md:h-80">
      <BasicContainer>
        <h1 class="text-5xl font-medium mb-8 text-center">How can we help?</h1>
        <div
          class="w-full h-12 rounded-full bg-[#f9fcff] px-14 flex items-center relative"
        >
          <div class="absolute h-full flex items-center top-0 left-4">
            <Search size={32} />
          </div>

          <input
            class="w-full h-full text-lg focus:outline-none focus:ring-0"
            type="search"
            name="search"
            id="search"
            placeholder="Search..."
            autocomplete="off"
          />
        </div>

        <div class="mt-8 flex flex-col items-center md:flex-row justify-center">
          <span class="text-sm">Popular:</span>
          <div
            class="mt-1 flex flex-col items-center space-y-1 md:flex-row md:space-x-4 md:ml-2"
          >
            <a class="pb-[1px] border-b border-black text-sm" href="">Gifting</a
            >
            <a class="pb-[1px] border-b border-black text-sm" href=""
              >Membership</a
            >
            <a class="pb-[1px] border-b border-black text-sm" href=""
              >Partner Program</a
            >
            <a class="pb-[1px] border-b border-black text-sm" href="">Sing In</a
            >
          </div>
        </div>
      </BasicContainer>
    </div>

    <div class="mt-6">
      <Message className="bg-gray-100" />
    </div>

    <div class="container mx-auto h-20"></div>

    <BasicContainer className="md:grid md:grid-cols-3 md:gap-9 lg:px-5 xl:p-0">
      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Compass size={47} />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <UserIcon />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Book size={50} />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Typewriter />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Pencil />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <View />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Check />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <Tool />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>
    </BasicContainer>

    <BasicContainer
      className="mt-16 md:grid md:grid-cols-3 md:gap-9 lg:px-5 xl:p-0"
    >
      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <BookOpen />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <BookOpen />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border px-8 py-10 flex flex-col gap-8 shadow-md md:mt-0">
        <div class="relative">
          <div class="absolute">
            <BookOpen />
          </div>
          <div class="pl-16">
            <h3 class="font-bold normal-text mb-2">Getting started</h3>
            <span class="text-gray-500"
              >Learn more about Medium and set up your account</span
            >
          </div>
        </div>

        <div class="">
          <ul class="">
            <li class="">Sign in or sign up to Medium</li>
            <li class="">Using Medium</li>
            <li class="">Medium membership</li>
            <li class="">Medium glossary</li>
          </ul>
        </div>
      </div>
    </BasicContainer>

    <div class="mt-16 px-16 py-12 md:p-20 bg-[#f2f2f2]">
      <h2 class="text-center mb-6">Can't find what you're looking for?</h2>

      <div class="flex items-center justify-center">
        <a
          class="px-4 py-2 rounded-full bg-[#1a8917] text-white"
          href="https://help.medium.com/hc/en-us/requests/new"
          >Submit a request</a
        >
      </div>
    </div>
  </main>

  <HCFooter />
</Layout>

<script>
  let nav = document.getElementById("nav");
  let fondo = document.getElementById("fondo");

  function ToggleMenu() {
    fondo?.classList.toggle("z-10");
    fondo?.classList.toggle("bg-black");
    nav?.classList.toggle("left-[0px]");
    document.querySelector("body")?.classList.toggle("overflow-y-hidden");
  }

  document.getElementById("trigger-nav")?.addEventListener("click", ToggleMenu);
  fondo?.addEventListener("click", ToggleMenu);
</script>
