---
import Logo from "@public/Logo.astro";
import Boton from "@components/Button.astro";
---

<header class="p-2 flex space-x-3 justify-between px-6 items-center h-[10svh]">
  <div class="w-44">
    <Logo />
  </div>

  <div>
    <Boton> Get started </Boton>
  </div>
</header>
