---

---

<footer class="py-8 px-4 bg-black text-white">
  <div class="flex flex-wrap gap-4 justify-center text-sm">
    <a href="">Status</a>
    <a href="">Writes</a>
    <a href="">Blog</a>
    <a href="">Careers</a>
    <a href="">Privacy</a>
    <a href="">Terms</a>
    <a href="">About</a>
  </div>
</footer>
