---
import "@styles/main.css";

interface Props {
  title: string;
  description?: string;
  clasName?: string;
}

const { title, description, clasName = "" } = Astro.props;
---

<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class={clasName}>
    <slot />
  </body>
</html>
